#top{
  width:98%;
  height: auto;
  background-color: lightgrey;
  padding: 1%;
  font-size: 30px;
  color: slategray;
  text-align: center;
}

#mob{
  width: 25%;
  text-align: center;
  float:left;
  margin: 2% 2% 2% 0%;
  background-color: palegreen;
  color:seagreen;
}
#text{
  color:seagreen;
  width: 71%;
  text-align: justify;
  float:left;
  padding: 1%;
  margin: 2% 0% 2% 0%;
  background-color: palegreen;
}
body{
  background-color: darkseagreen;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}